

  body { background-color: lightgray; }
  div {
    background-color: white;
    width: 320px;
    height: 120px;
    border-radius: 16px;
  }

  div {box-shadow:2px 2px 4px rgba(0,0,0,0.25);}


  div {
    box-shadow:
    0 0 4px red,
    2px 2px 8px orange,
    4px 2px 12px yellow;}
  
  